

h1{
color : maroon; 
text-align : center;
}

footer{ 
    text-align: center;
}


audio {
    display: block; /* Ensure the audio element is a block-level element */
    margin: 0 auto; /* Center the audio element within its container */
}

img {
    width: 50%;
    height: auto;
}
#mrpuneet{
    width: 250;

}

*{
    margin-bottom: 20px;
text-align: center;   
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
}