h1{
color : maroon; 
text-align : center;
}

p{ 
    text-align: center;
}


audio {
    display: block; /* Ensure the audio element is a block-level element */
    margin: 0 auto; /* Center the audio element within its container */
}